<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329989824825-nmkgb0ojh91cm0fv7g7paduu1hqje671.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329989824825-nmkgb0ojh91cm0fv7g7paduu1hqje671</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>329989824825-7ks0jj9d32f4rb1l20goh6u481kuiok5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyANwWods0HZvj3ywsuTspZBCrcmEi2sp8I</string>
	<key>GCM_SENDER_ID</key>
	<string>329989824825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tremsol.app</string>
	<key>PROJECT_ID</key>
	<string>tremsol-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tremsol-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329989824825:ios:16c45dec8cce6e9b4e08e8</string>
</dict>
</plist>